{% extends 'base.html.twig' %}
{% block title %}
  Hello HomeController!
{% endblock %}
{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  <div>
    <div class="banner">
      <h1>Le Naturel Au Vert</h1>
    </div>
    <div class="container main-produits">
      <div class="produits">
        <a href="{{ path('app_achats') }}">Plantes</a>
      </div>
      <div class="produits">
        <a href="">Graines</a>
      </div>
      <div class="produits">
        <a href="">Légumes</a>
      </div>
      <div class="produits">
        <a href="">Fruits</a>
      </div>
    </div>
  </div>
{% endblock %}
