{% extends 'base.html.twig' %}
{% block title %}
  Hello HomeController!
{% endblock %}
{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  <div>
    {% if app.user %}
      <nav class="accueil-nav">
        <ul class="d-flex justify-content-around pt-4 pb-4 list-unstyled">
          <li class="text-light pe-4 ps-4 bg-dark">
            <a href="" class="text-decoration-none">ggjgoji</a>
          </li>
          <li class="pe-4 ps-4 bg-dark">
            <a href="" class="text-decoration-none">bdkfdkk</a>
          </li>
          <li class="pe-4 ps-4 bg-dark">
            <a href="" class="text-decoration-none">bfhdghddf</a>
          </li>
          <li class="pe-4 ps-4 bg-dark">
            <a href="{{ path('app_achats') }}" class="text-decoration-none">Voir nos plantes</a>
          </li>
          <li class="pe-4 ps-4 bg-dark">
            <a href="" class="text-decoration-none">hdfhfhfh</a>
          </li>
          <li class="pe-4 ps-4 bg-dark">
            <a href="" class="text-decoration-none">fdhdbdf</a>
          </li>
          <li class="pe-4 ps-4 bg-dark">
            <a href="" class="text-decoration-none">dgfdgdfgdfgdfg</a>
          </li>
          <li class="pe-4 ps-4 bg-dark">
            <a href="" class="text-decoration-none">dgfgdfgdfgdfgdfg</a>
          </li>
          <li class="pe-4 ps-4 bg-dark">
            <a href="" class="text-decoration-none">rytertazfr</a>
          </li>
        </ul>
      </nav>
    {% endif %}
  </div>
{% endblock %}
