{% extends 'base.html.twig' %}

{% block title %}Hello HistoriqueCommandesController!{% endblock %}

{% block body %}
<table>
    <tr>
        <th>Date de la commande</th>
        <th>Adresse de livraison</th>
    </tr>
</table>
{% for commande in historicCommande %}
    
{% endfor %}
{% endblock %}
