{% extends 'base.html.twig' %}

{% block title %}
  Hello AchatsController!
{% endblock %}

{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  <div class="achat-accueil">
    <div class="d-flex justify-content-around align-items-center">
      <div class="w-25"></div>
      <h2 class="text-center m-3">Plantes disponibles à l'achat</h2>
      <div class="d-flex justify-content-end" style="width: 400px;">
        <input class="form-control me-2 h-25" style="width: 18rem;" type="search" placeholder="Trouvez votre plante" aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </div>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
      {% for plantes in plante %}
        <div class="card m-5" style="width: 18rem;">
          <div class="img-card">
            <img src="{{ asset('images/plantes/' ~ plantes.image) }}" class="card-img-top" alt="{{ plantes.nomPlante }}" />
          </div>
          <div class="card-body text-center">
            <h5 class="card-title">{{ plantes.nomPlante }}</h5>
            <a href="{{ url('details', { id: plantes.id }) }}" class="btn btn-primary">Voir la plante en détail</a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
