{% extends 'base.html.twig' %}

{% block title %}
  Mentions légales
{% endblock %}

{% block body %}
  {% include 'navbar/navbar.html.twig' %}

  <div class="legalite-div">
    <h1>Mentions legales</h1>
    <h2>Le site web voisinsbio.fr est la propriété de la SARL Les Voisins Bio (numéro RCS de Brest 487498198)</h2>
    <p>Siège Social : Saint Veltas 29430 Lanhouarneau</p>
    <p>Tel. : 06 63 88 71 74</p>
    <p>Email : voisinsbio@ecomail.bzh</p>
    <p>Responsable de la publication : Hélène Le Bars</p>
    <p>Capital social : 25 000 euros</p>
    <p>Créateur et hébergement du site : La société CLEOP, SARL au capital de 24000 euros immatriculée au RCS de Nantes sous le n° de Siret : 75223710700020. Adresse : 4 avenue Marcel Cerdan - 44000 Nantes Tel : 02 85 37 84 71 Mail : contact@socleo.com</p>
    <p>Modifications En accédant et en naviguant sur ce site, l'utilisateur est informé de ses droits et obligations et accepte pleinement de se conformer aux présentes conditions d'utilisations du site. L'éditeur du site se réserve la possibilité de modifier ces conditions. Il appartient à l'utilisateur de vérifier périodiquement le contenu des documents concernés. L'éditeur se réserve la possibilité de supprimer ou de modifier en tout ou partie le « site ».</p>
    <p>Responsabilités L'éditeur du site voisinsbio.fr met tout en œuvre pour assurer l'exactitude et la mise à jour de l'ensemble des informations fournies sur son site. Il ne peut garantir que les informations contenues sur le site soient complètes, précises, exactes, exhaustives et dépourvues de toute erreur. Hélène Le Bars s'engage, dès qu'un utilisateur quelconque transmet toute erreur constatée aux coordonnées ci-dessus, à procéder à la correction dans les plus brefs délais.</p>
    <p>Accessibilité Le site est par principe accessible aux utilisateurs 24/24h et 7/7j, sauf interruption, programmée ou non, pour des besoins de maintenance ou en cas de force majeure. En cas d'indisponibilité d'accès au site, celui-ci s'engage à faire son maximum afin de rétablir l'accès. Le site ne saurait être tenu pour responsable de tout dommage, quelle qu'en soit la nature, résultant de son indisponibilité.</p>
    <p>Collecte de données et Loi Informatiques et Libertés En conformité avec la loi du 6 janvier 1978 relative à l'informatique, aux fichiers, aux libertés, le traitement automatisé des données nominatives réalisé à partir du Site Internet voisinsbio.fr a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL).</p>
    <p>Conformément à la loi n° 78-17 du 6 janvier 1978, l'utilisateur peut à tout moment accéder aux informations personnelles le concernant détenues par la SARL Les Voisins Bio, demander leur modification ou leur suppression. Ainsi, selon les articles 36, 39 et 40 de la loi Informatique et Libertés, l’utilisateur peut demander que soient rectifiées, complétées, clarifiées, mises à jour ou effacées les informations le concernant qui sont inexactes, incomplètes, équivoques, périmées ou dont la collecte ou l'utilisation, la communication ou la conservation sont interdites. Si vous souhaitez exercer ce droit et obtenir communication des informations vous concernant, veuillez-vous adresser par courrier à Les Voisins Bio BP 10227 29402 Landivisiau Cedex par email à lesvoisinsbio@yahoo.fr Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant. Nous nous engageons à prendre toutes précautions afin de préserver la sécurité de ces informations et notamment empêcher qu'elles ne soient déformées, endommagées ou communiquées à des tiers. A la clôture du compte et à toutes fins de preuve, des données concernant l'utilisateur peuvent être conservées et archivées confidentiellement par la SARL Les Voisins Bio selon les lois en vigueur. Afin d'améliorer la qualité de son service et de mieux répondre aux attentes de ses utilisateurs, la SARL Les Voisins Bio pourra être amené à collecter des données nominatives sur l'utilisateur, notamment par l'utilisation de marqueurs (cookies).</p>
  </div>
  {% include 'footer/footer.html.twig' %}
{% endblock %}
