{% extends 'base.html.twig' %} {% block body %}
<nav>
  <ul>
    <li>
      <a href="{{ url('app_home') }}">Nom du site</a>
    </li>
  </ul>
  <ul>
    {% if app.user %}
    <li><a href="{{ url('app_home') }}">Déconnexion</a></li>
    {% else %}
    <li><a href="{{ url('app_register') }}">Inscription</a></li>
    <li><a href="{{ url('app_login') }}">Connexion</a></li>
    {% endif %}

    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
  </ul>
</nav>

{% endblock %}
