{% extends 'base.html.twig' %}

{% block title %}
	commandes
{% endblock %}

{% block body %}
	{% include 'navbar/navbar.html.twig' %}
	<div class="adresse_livraison">
		<h1>Veuillez inscrire vos informations de Facturation</h1>
		{{ form(formAdresse) }}
		</div>
		{% block footer %}
			{% include 'footer.html.twig' %}
		{% endblock %}
	{% endblock %}
