@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');

/* Body */
body {
    /* background-color: rgb(4, 70, 4); */
    background-image     : url('https://w.forfun.com/fetch/28/28efb1394876b5ab7708a986a93292d5.jpeg');
    background-position  : center;
    background-size      : cover;
    background-repeat    : no-repeat;
    background-attachment: fixed;
}

/* NavBar */

nav h2 {
    text-shadow: 15px 12px 4px rgba(0, 0, 0, 0.603);
    font-family: 'Kolker Brush', cursive;
    font-size  : 55px;
}


/* Partie card achats.html.twig */


.titre-plante h2 {
    color      : #FFC107;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.603);
}

#relative-div {
    position: relative;
    display : flex;
    width   : 550px;
}

#relative-div form {
    width          : 420px;
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

#relative-div form a {
    font-size       : 1rem;
    background-color: #FFC107;
    border          : 1px solid black;
    padding         : 8px 7px;
    border-radius   : 10%;
    vertical-align  : middle;
    text-decoration : none;
    color           : black;
}

.rechercher {
    background-color: #FFC107;
    border-color    : #FFC107;
}

#relative-div form a:hover,
#relative-div form button:hover {
    background-color: #212529;
    color           : white;
    transition      : 1.5s;
    border-color    : black;
}

.plantesResults {
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.603);
}

#plante_search_search {
    padding: 5px 10px;
}

.relative-div-achats {
    position: relative;
}

.absolute-prix {
    position        : absolute;
    background-color: #212529;
    color           : #FFC107;
    border-radius   : 50%;
    padding         : 5px;
    width           : 50px;
    height          : 50px;
    display         : flex;
    align-items     : center;
    text-align      : center;
    font-size       : 13px;
    font-weight     : bold;
    right           : 0;
    top             : 0;
}

/* #btn-btn {
    position: absolute;
    left: 25px;
    top: -20px;
    border: 2px solid transparent;
    border-color: yellow;
    outline: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: yellow;
    transition: 0.5s ease-in-out;
} */


#btn-btn:hover {
    background-color: #FFC107;
    border-color    : transparent;
}

#btn-btn img {
    width         : 25px;
    vertical-align: middle;
}


.img-card {
    height: 300px;
}

.img-card img {
    width : 100%;
    height: 300px;
}

.change-btn:hover {
    background: #212529;
    transition: 2s;
    color     : white;
}

/* ACCUEIL  */
/* 
.accueil-nav>ul>li>a {
    color: #FFC107;
    padding: 5px 10px;
}

.accueil-nav>ul>li>a:hover {
    color: black;
    transition: 1s;
    font-size: 25px;
    color: #FFC107;
    font-weight: bold;
} */




/* PAGE INSCRIPTION */
.formInscription {
    border    : 2px solid #FFC107;
    width     : 500px;
    height    : 600px;
    box-shadow: 3px 3px 3px #FFC107;
    margin    : 30px auto;
    text-align: center;
    color     : #FFC107;
}

.formInscription h1 {
    text-decoration: underline;
}

.formInscription form {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
}

.formInscription form #register_form {
    align-items: center;
}

.formInscription form #register_form div {
    align-items: center;
    width      : 200px;
    margin     : 10px auto;
}

.formInscription label {
    margin          : 10px 0;
    background-color: rgba(0, 0, 0, 0.623);
    width           : 100%;
}

/* FIN PAGE INSCRIPTION */


/* Page Details */
.absolutePrix {
    position     : absolute;
    top          : 20px;
    left         : 570px;
    padding      : 20px;
    border-radius: 50%;
}

.detail-img {
    height: 100%;
    width : 400px;
    margin: auto;
}

.accordion-item,
.accordion-button,
.accordion-body {
    background-color: transparent;
}

/* FIN PAGE DETAILS */


/* PARTIE PANIER */
table.table tr,
table.table th,
table.table td {
    background-color: black;
    color           : #FFC107;
}

table.table td a {
    text-decoration : none;
    color           : #FFC107;
    border          : 2px solid black;
    background-color: rgba(0, 0, 0, 0.671);
}


/* Panier vide */

.panier-vide-div {
    display         : flex;
    flex-direction  : column;
    height          : 93vh;
    align-items     : center;
    justify-content : center;
    background-color: rgba(0, 0, 0, 0.377);
}

.panier-vide-div a {
    font-size: 33px;
    color    : red;
}

/* FIN PARTIE PANIER */


/* PARTIE COMMANDE */

.recap {
    width : 700px;
    height: 700px;
    margin: auto;
    border: 3px solid black;
}

.recap h1 {
    text-align      : center;
    color           : #FFC107;
    background-color: #21252970;
}

.recap h2 {
    text-align: center;
    color: #FFC107;
    background-color: #212529bb;
    padding: 30px 0;
}

.ttG {
    width: 25%;
    text-align: right;
}

.td-quantite, .td-prix {
    text-align: right;
}

/* Paiement */
.paiements {
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.651);
    color: #FFC107;
}

.paiements{
    padding: 20px;
    border: 3px solid white;
}


/* MEDIAS QUERIES */

@media (max-width: 1600px) {
    .titre-plante {
        width: 700px;
    }

    #relative-div {
        width          : 375px;
        justify-content: center;
    }

    #relative-div #plante_search {
        margin: auto;
    }

    .achat-accueil>div>div>h2 {
        font-size : 26px;
        text-align: right;
    }

    .absolute-prix {
        justify-content: center;
    }

    .absolutePrix {
        left: 490px;
    }
}