{% extends 'base.html.twig' %}

{% block title %}
  commandes
{% endblock %}

{% block body %}
  {% include 'navbar/navbar.html.twig' %}
  {% if app.session.get('panier', []) %}
    <div class="text-light recap">
      <h1>Récapitulatif de la commande</h1>

      <h2>produits :</h2>
      {% for commande in app.session.get('panier', []) %}
        <span><br />{{ commande.nomPlante }} {% if not loop.last %} ,{% endif %}</span>
      {% endfor %}
      <p>total : {{ total|replace({ '€': '' })|number_format(2, ',', ' ', '') }}</p>
    </div>
  {% endif %}
{% endblock %}
